body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, rgb(197, 17, 241) , red);
}

#inputPassword5 {
    width: 100%;
}


.btn {
    margin-top: 10px;
}

.btn:hover {
    transform: scale(1.05);
}

ol {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
