body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#inputPassword5 {
    width: 100vh;
}


.btn {
    margin-top: 10px;
}

.btn:hover {
    transform: scale(1.05);
}

.root{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

